#links{
    width:100px;
    height:120px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    align-items: center;
    color: black;
    box-shadow: 1px 2px 5px  palevioletred;
}
